#editButton {
    vertical-align: text-bottom;
}

#navigation_wrapper a {
    color: black;
    font-size: 120%;
}

#navigation_wrapper li {
    width: auto;
    display: table;
}

.goalsTableCell {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    max-width:1px;
}

input.login_field {
    width: 200px;
}

.tablesorter tr {
    cursor: pointer;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin-bottom: 10px;
}

