body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #FCFFFF;
    text-align: center;
}

#footerString {
    position: absolute;
    bottom:30px;
    width:100%;
}

#mainBodyHeader {
    font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
}